/*Global-style*/
/* * {
    margin: 0px;
    padding: 0px;
  } */
  
  html {

    font-family: 'PT Sans', sans-serif;   
    color: #111;

  }

  html, body {
    background-image: url("../images/line-pattern.svg");
    background-repeat: repeat-x;
    font-family: 'PT Sans', sans-serif;   
    color: #111;
   
  }
 

 

  /*header*/
nav .container-fluid{
  padding-right: 0px;
}

.navbar{
    /* padding-top: 11px;
    padding-bottom:11px; */
    padding-right: 0px;
    /* padding-left: 24px; */
    font-size: 16px;
    margin-top: 0px; 
    padding: 0px;
    margin: 0px;
  }

  .nav-link{
    color: #111;
    font-size: 16px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.04em;
    transition: all .3s ease-out;
    font-weight: 400;
  }

 #contact-button{
  width: 140px;
  height: 80px;
  margin:0px;
  padding: 0px;
  background: #EB2500;
  transition: all .3s ease-out;
 }

 #contact-button {
  color: #fff;
  font-weight: 700;
}

#contact-button:hover{
  background: #111111;
}

 .navbar li {
   margin: 0px;
 }
 .active {
  color: #EB2500;
}

#home, #about {
  margin-right: 15px;
  transition: all .3s ease-out;

}

#home:hover, #about:hover{
  color: #EB2500;
}


/*hero*/

.hero{
  margin-bottom: 30px;
  margin-top: 20px;
 }


.social {
  margin-top: 25px;
}

.social li{
  display: block;
  margin-bottom: 30px;
  text-align: center;
 }
 
 .git-social{
  list-style-type:none;
  margin: 0px;
  padding: 0px;

 }
 .git-social li{
  display: inline;
  padding-right: 15px;
  
 }

 .git-social  svg:hover path {
  fill: #4C4D4D;
  transition: all .3s ease-out;
 }

.git-social svg:hover path {
 fill: #EB2500;
}
 
 .title{
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #5F5F5F;
 }

 .display-3{
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #111111;
  width: 80%;
 }

.info{ 
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
letter-spacing: 0.03em;
color: #5F5F5F;
width: 40%;
padding-bottom: 20px; 
 }

.info-2{ 
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 22px */
  letter-spacing: 0.03em;
  color: #5F5F5F;
  width: 60%;
  padding-bottom: 20px; 
   }

.info-3{ 
  font-weight: 400;
  font-size: 16px;    
  line-height: 180%;
    /* or 22px */
  letter-spacing: 0.03em;
  color: #5F5F5F;
  width: 60%;

     }

 #btn-contact{
  background: #EB2500;
  box-shadow: 0px 16px 48px rgba(234, 8, 8, 0.32);
  border-radius: 4px;
  color: #fff;
  padding: 15px 42px 15px 42px;
  font-weight: 700;
  margin-top: 40px !important;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-out;
}

.social svg:hover path {
  fill: #4C4D4D;
  transition: all .3s ease-out;
 }

.social svg:hover path {
 fill: #EB2500;
}

#btn-contact:hover{
  box-shadow: 0px 12px 20px rgba(234, 8, 8, 0.2)
}

.mtop{
  margin-top: 45px;
}

/* awards & cert */
.certs{
  margin: 0px;
  padding: 0px;
}

.cert-row {

  padding-left: 0px;
}


.cert-bg{
background: #FFFFFF;
box-shadow: 0px 20px 48px rgba(26, 26, 26, 0.08);
border-radius: 8px;
display: inline-block;
/* min-width: 424px; */
min-height: 420px;
}

.mar-xs{
  margin: 15px;
}

.cert-img{
  margin-bottom: 5px;
  min-width: 240px;
}

/*footer*/
footer{
  margin-top: 30px;
  font-size: 12px;
}

@media (max-width: 768px) { 
   
  #contact-button{
   width: 100%;
   height: 80px;
   margin:0px;
   padding: 0px;
   color: #fff;
   background: #EB2500;
  }
 
  .social li{
   display: inline !important;
  }
 
  .social {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .info{ 
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: 0.03em;
    color: #5F5F5F;
    width: 70%;
    padding-bottom: 20px; 
     }
 
     .info-2{ 
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
      letter-spacing: 0.03em;
      color: #5F5F5F;
      width: 80%;
      padding-bottom: 20px; 
       }

   .display-3{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #111111;
    width: 80%;
   }
   }

 