/*header*/
nav .container-fluid {
  padding-right: 0px;
}

.navbar {
  /* padding-top: 11px;
    padding-bottom:11px; */
  padding-right: 0px;
  /* padding-left: 24px; */
  font-size: 16px;
  margin-top: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-link {
  color: #111;
  font-size: 16px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.04em;
  transition: all 0.3s ease-out;
  font-weight: 400;
}

#contact-button {
  width: 140px;
  height: 80px;
  margin: 0px;
  padding: 0px;
  background: #eb2500;
  transition: all 0.3s ease-out;
}

#contact-button {
  color: #fff;
  font-weight: 700;
}

#contact-button:hover {
  background: #111111;
}

.navbar li {
  margin: 0px;
}
.active {
  color: #eb2500;
}

#home,
#about {
  margin-right: 15px;
  transition: all 0.3s ease-out;
}

#home:hover,
#about:hover {
  color: #eb2500;
}

/*hero*/

.hero {
  margin-bottom: 90px;
  margin-top: 20px;
}

.social {
  margin-top: 25px;
}

.social li {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #5f5f5f;
}

.display-3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #111111;
  width: 80%;
}

#client-msg {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.03em;
  color: #5f5f5f;
  width: 40%;
  padding-bottom: 20px;
}

#btn-contact {
  background: #eb2500;
  box-shadow: 0px 16px 48px rgba(234, 8, 8, 0.32);
  border-radius: 4px;
  color: #fff;
  padding: 15px 42px 15px 42px;
  font-weight: 700;
  margin-top: 40px !important;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.social svg:hover path {
  fill: #4c4d4d;
  transition: all 0.3s ease-out;
}

.social svg:hover path {
  fill: #eb2500;
}

#btn-contact:hover {
  box-shadow: 0px 12px 20px rgba(234, 8, 8, 0.2);
}

/*portfolio*/

.port-spacing {
  padding: 0px;
  margin: 0px;
  min-width: 50%;
  /* min-height: 50%; */
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.port-image:hover .overlay {
  opacity: 0.75;
  padding: 0px;
  margin: 0px;
}



.overlay-text {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  margin: 0px;
  padding: 0px;
}

.role {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
}

.port-image:hover .overlay-text {
  visibility: visible;
}

@media (max-width: 768px) {
  #contact-button {
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    color: #fff;
    background: #eb2500;
  }

  .social li {
    display: inline !important;
  }

  .social {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #client-msg {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: 0.03em;
    color: #5f5f5f;
    width: 80%;
    padding-bottom: 20px;
  }

  .display-3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #111111;
    width: 80%;
  }
}
